<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title class="settings-title">Settings</ion-title>

    <ion-buttons end>
      <button ion-button icon-end solid color="secondary" (click)="onRestoreDefaultSettingsClick()">
        Restore default settings
        <ion-icon name="refresh"></ion-icon>
      </button>

      <button ion-button icon-end solid color="secondary" [disabled]="!settingsChanged()" (click)="onApplyClick()">
        Save &amp; Apply
        <ion-icon name="checkmark"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-list>

      <ion-item-divider>
        General
      </ion-item-divider>

      <ion-item no-lines>
        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              Open
              <i>{{ getAppName() }}</i> automatically after you log into the computer&nbsp;
            </ion-col>
            <ion-col>
              <select [(ngModel)]="openAutomatically">
                <option value="no">No</option>
                <option selected value="yes">Yes</option>
                <option value="minimized">Minimized</option>
              </select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item no-lines>
        <ion-label>Enable tray icon</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.enableTray"></ion-checkbox>
      </ion-item>

      <ion-item no-lines>
        <ion-label>Automatically open URLs in browser</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.enableOpenInBrowser"></ion-checkbox>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          Enable keyboard emulation
          <button ion-button small color="light" popper="Enable this option to automatically type the barcodes"
            class="help-button">
            ?
          </button>
        </ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.enableRealtimeStrokes"></ion-checkbox>
      </ion-item>

      <ion-item no-lines [hidden]="!(settings && settings.enableAdvancedSettings)">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-sm-2>
              Type method&nbsp;
            </ion-col>
            <ion-col>
              <select [(ngModel)]="settings && settings.typeMethod">
                <option value="keyboard" selected="selected">Keyboard</option>
                <option value="clipboard">Clipboard</option>
              </select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-divider>
        Output settings
      </ion-item-divider>

      <ion-item no-lines text-wrap>
        <div class="output-template-title">
          <span>Available components</span>
          <button ion-button small color="light" popperPlacement="bottom-start" [popper]="popper1Content"
            class="help-button">
            ?
          </button>
        </div>
        <popper-content #popper1Content>
          To edit the emulated keyboard output drag &amp; drop one element from the <br><b>Available components</b> box
          to
          the
          <b>Output template</b> box by keeping pressed your mouse button.
          <br> If the key that you're looking for isn't present you can use the <b>OTHER KEY</b> component,<br>the full
          list
          is avaialable
          <a (click)="electronProvider.shell.openExternal('http://robotjs.io/docs/syntax#keyboard')">here</a>. If you
          want
          to apply a custom function like a character replacement<br> or transform the barcode to uppercase, you can
          use
          the <b>CUSTOM FUNCTION</b> component with the following syntax:<br> <i>barcode.replace('a', 'b')</i>. The
          full list of the avaialable function is <a
            (click)="electronProvider.shell.openExternal('https://www.w3schools.com/js/js_string_methods.asp')">here</a>
        </popper-content>
        <div [hidden]="canAddMoreComponents()" class="output-blocks-container-disabled" text-center>
          <h2 padding-vertical>
            You've reached the maximum number of output components
          </h2>
          <p>Drag out one output component from the Output template</p>
          <div>or</div>
          <button ion-button color="secondary" (click)="onSubscribeClick()">Upgrade</button>
        </div>
        <div [hidden]="!canAddMoreComponents()" id="left" dragula="dragula-group"
          [(dragulaModel)]='availableOutputBlocks' class="output-blocks-container">
          <output-block-component *ngFor="let outputBlock of availableOutputBlocks" [outputBlock]="outputBlock">
          </output-block-component>
        </div>
      </ion-item>

      <ion-item no-lines text-wrap>
        <div class="output-template-title">
          <span>Output template</span>
          <button ion-button small color="light" popperPlacement="right-start"
            popper="It's the template that will be used to type barcodes with the emulated keyboard. You can rearrange the elements<br> by dragging them. To remove an element drag it outside by keeping pressed your mouse button."
            class="help-button">
            ?
          </button>
        </div>

        <ion-item no-lines no-padding class="container-select-output-template"
          [hidden]="!(settings && settings.enableAdvancedSettings)">
          Selected Output template:

          <select [(ngModel)]="selectedOutputProfile" class="select-output-template">
            <option *ngFor="let outputProfile of settings.outputProfiles; let i = index;" [value]="i">
              {{ outputProfile.name }}</option>
          </select>

          <button ion-button small clear icon-start color="dark" class="btn-output-template-action" (click)="onEditOutputProfileNameClick()">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>

          <button ion-button small clear icon-start color="dark" class="btn-output-template-action" (click)="onExportOutputTemplateClick()">
            <ion-icon name="ios-share"></ion-icon>
            Export
          </button>

          <button ion-button small clear icon-start color="dark" class="btn-output-template-action" [disabled]="this.settings.outputProfiles.length <= 1"
            (click)="onDeleteOutputTemplateClick()">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>

          <button ion-button small icon-start color="add-button" float-right class="btn-new-output-template"
            (click)="onNewOutputTemplateClick()">
            <ion-icon name="add"></ion-icon>
            New Output template
          </button>

          <button ion-button small icon-start color="light" float-right class="btn-new-output-template"
          (click)="onImportOutputTemplateClick()">
            <ion-icon name="ios-download"></ion-icon>
            Import
          </button>

        </ion-item>

        <div id="right" dragula="dragula-group"
          [(dragulaModel)]='settings.outputProfiles[selectedOutputProfile].outputBlocks'
          class="output-blocks-container">
          <output-block-component
            *ngFor="let outputBlock of settings.outputProfiles[selectedOutputProfile].outputBlocks"
            [outputBlock]="outputBlock"></output-block-component>
        </div>
      </ion-item>

      <ion-item-divider>
        CSV Settings
      </ion-item-divider>

      <ion-item no-lines>
        <ion-label>Append scans to a .csv file</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.appendCSVEnabled" (click)="onCSVClick()"></ion-checkbox>
      </ion-item>

      <ion-item no-lines [hidden]="!settings || !settings.appendCSVEnabled" class="csv-select-path-form">
        <ion-grid>
          <ion-row>
            <ion-col>
              <input [(ngModel)]="settings && settings.csvPath" class="output-blocks-container csv-path" type="text"
                placeholder="Select the file path" />
            </ion-col>
            <ion-col>
              <button ion-button small color="light" (click)="onSelectCSVPathClick()">Select</button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <info-box title="Info">
          You can use the following variables in your file name (lowercase): <br>
          <code>
                    <input type="text" value="date" disabled />
                    <input type="text" value="device_name" disabled />
                    <input type="text" value="scan_session_name" disabled />
              </code><br>

          Example:<br>
          <code ngNonBindable>
            <input type="text" value="C:&#92;Users&#92;admin&#92;Desktop&#92;&#123;&#123; date &#125;&#125;.csv" disabled />
          </code><br>
        </info-box>

      </ion-item>


      <ion-item no-lines [hidden]="!(settings && settings.enableAdvancedSettings)">
        <ion-label>Export only readable fields</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.exportOnlyText"></ion-checkbox>
      </ion-item>

      <ion-item no-lines [hidden]="!(settings && settings.enableAdvancedSettings)">
        <ion-label>Enable quotes</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.enableQuotes"></ion-checkbox>
      </ion-item>

      <ion-item no-lines [hidden]="!(settings && settings.enableAdvancedSettings)">
        <label for="csvDelimiter">Delimiter</label>
        <input [(ngModel)]="settings && settings.csvDelimiter" class="output-blocks-container csv-delimiter"
          id="csvDelimiter" type="text" placeholder="Eg. ," />
      </ion-item>

      <!-- <ion-item no-lines>
        <ion-select [(ngModel)]="settings && settings.newLineCharacter" no-padding>
          <ion-option selected value="CRLF">New Line character: \\r\\n</ion-option>
          <ion-option value="LF">New Line character: \\n</ion-option>
          <ion-option value="CR">New Line character: \\r</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-item no-lines [hidden]="!(settings && settings.enableAdvancedSettings)">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-md-2>
              New Line character
            </ion-col>
            <ion-col col-md-10>
              <select [(ngModel)]="settings && settings.newLineCharacter">
                <option selected value="CRLF">&#92;r&#92;n</option>
                <option value="LF">&#92;n</option>
                <option value="CR">&#92;r</option>
              </select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item-divider>
        Other
      </ion-item-divider>

      <ion-item no-lines>
        <ion-label>Show advanced settings</ion-label>
        <ion-checkbox [(ngModel)]="settings && settings.enableAdvancedSettings"></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-grid>
</ion-content>
